.title{
    width:100%; 
    height:100px;
    float:left;
    background-color: skyblue;
}
.top{
    width:100%; 
    height:100px;
    float:left;
    background-color: greenyellow;
}
.left{
    width:50%; 
    height:500px;
    float:left;
    background-color: black;
}
.calendar{
    width:50%; 
    height:500px;
    float:right;
    background-color: #edc70a;
}
.calendar .calendar-title{
    margin:50px 40px 50px 40px;
    font-size: 50px;
}
.calendar .calendar-title .calendar-title-Contents{
    width:70px; 
}
.calendar .left-allow{
    font-size: 50px;
}

.calendar .right-allow{
    font-size: 50px;
}
.footer{
    width:100%; 
    height:100px;
    float:left;
    background-color: red;
}
.toggle{
    color: red;
}